.main {
  @apply h-screen w-full flex flex-col justify-center items-center;
}

.card {
  @apply relative w-9/10 flex flex-col justify-center px-6 sm:w-auto rounded-2xl shadow-lg items-center overflow-hidden bg-white;
}

.card-header {
  @apply w-full  p-4 pt-8;
}

.btn {
  @apply w-full sm:w-80 text-lg flex justify-around items-center font-semibold my-4;
}

/* INPUT */
.inputContainer {
  @apply relative w-full my-4 border-b-2 text-lg focus-within:border-sky-700;
}

.input {
  @apply relative outline-none block w-full appearance-none focus:outline-none bg-transparent z-20;
}

.inputLabel {
  @apply absolute top-0 duration-300 origin-0 z-10 text-gray-400;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-90 -translate-y-6;
}

input:focus-within ~ label {
  @apply text-sky-700;
}
