@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  @apply min-h-screen w-full flex flex-col justify-center items-center;
}

.card {
  @apply relative w-5/6 sm:w-auto bg-transparent rounded-2xl shadow-lg flex flex-col items-center overflow-hidden bg-white;
}

.card-header {
  @apply w-full  p-6 pt-16;
}

.btn {
  @apply w-full sm:w-80 text-lg flex justify-around items-center font-semibold my-4;
}

/* INPUT */
.inputContainer {
  @apply relative my-4 border-b-2 text-lg focus-within:border-fuchsia-700;
}

.input {
  @apply relative outline-none block w-full appearance-none focus:outline-none bg-transparent z-20;
}

.inputLabel {
  @apply absolute top-0 duration-300 origin-0 z-10 text-gray-400;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-90 -translate-y-6;
}

input:focus-within ~ label {
  @apply text-fuchsia-700;
}
